@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
* {
    background-color: rgb(229, 224, 200);
    margin: 0;
    padding:0;
}

body {
    font-family: 'Bebas Neue', sans-serif;
}
.logo {
    color: rgb(59, 77, 60);
    font-size: 3rem;
    letter-spacing: 13px;
  }
  
  .logo:hover {
    cursor: default;
  }
  
nav,
.nav-links {
  display: flex;
}

nav {
  justify-content: space-around;
  align-items: center;
  height: 17vh;
  letter-spacing: 7px;
}

.nav-links {
  gap: 2rem;
  list-style: none;
  font-size: 1.5rem;
}

a {
  color: rgb(59, 77, 60);
  text-decoration: none;
  text-decoration-color: white;
}

a:hover {
  color: rgb(118, 114, 114);
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(118, 114, 114);
}